body {
  background: #333333;
   height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  width: 600px;
  height: 600px;
}
.pixel {
  width: 20px;
  height: 20px;
  float: left;
}.pixel:nth-child(94){
  background: #32CD32;
}
.pixel:nth-child(124){
  background: #32CD32;
}
.pixel:nth-child(154){
  background: #32CD32;
}
.pixel:nth-child(95){
  background: #008000;
}
.pixel:nth-child(185){
  background: #32CD32;
}
.pixel:nth-child(215){
  background: #32CD32;
}
.pixel:nth-child(515){
  background: #008000;
}
.pixel:nth-child(545){
  background: #008000;
}
.pixel:nth-child(575){
  background: #008000;
}
.pixel:nth-child(605){
  background: #008000;
}
.pixel:nth-child(635){
  background: #008000;
}
.pixel:nth-child(665){
  background: #008000;
}
.pixel:nth-child(126){
  background: #008000;
}
.pixel:nth-child(216){
  background: #32CD32;
}
.pixel:nth-child(246){
  background: #008000;
}
.pixel:nth-child(486){
  background: #008000;
}
.pixel:nth-child(696){
  background: #008000;
}
.pixel:nth-child(157){
  background: #32CD32;
}
.pixel:nth-child(187){
  background: #32CD32;
}
.pixel:nth-child(247){
  background: #32CD32;
}
.pixel:nth-child(277){
  background: #008000;
}
.pixel:nth-child(457){
  background: #008000;
}
.pixel:nth-child(697){
  background: #008000;
}
.pixel:nth-child(158){
  background: #008000;
}
.pixel:nth-child(248){
  background: #008000;
}
.pixel:nth-child(278){
  background: #008000;
}
.pixel:nth-child(428){
  background: #008000;
}
.pixel:nth-child(668){
  background: #008000;
}
.pixel:nth-child(698){
  background: #008000;
}
.pixel:nth-child(728){
  background: #008000;
}
.pixel:nth-child(758){
  background: #008000;
}
.pixel:nth-child(788){
  background: #008000;
}
.pixel:nth-child(818){
  background: #008000;
}
.pixel:nth-child(159){
  background: #008000;
}
.pixel:nth-child(189){
  background: #32CD32;
}
.pixel:nth-child(249){
  background: #008000;
}
.pixel:nth-child(279){
  background: #32CD32;
}
.pixel:nth-child(309){
  background: #008000;
}
.pixel:nth-child(339){
  background: #008000;
}
.pixel:nth-child(369){
  background: #008000;
}
.pixel:nth-child(849){
  background: #008000;
}
.pixel:nth-child(130){
  background: #32CD32;
}
.pixel:nth-child(160){
  background: #32CD32;
}
.pixel:nth-child(190){
  background: #32CD32;
}
.pixel:nth-child(250){
  background: #32CD32;
}
.pixel:nth-child(280){
  background: #32CD32;
}
.pixel:nth-child(310){
  background: #32CD32;
}
.pixel:nth-child(340){
  background: #32CD32;
}
.pixel:nth-child(370){
  background: #008000;
}
.pixel:nth-child(850){
  background: #008000;
}
.pixel:nth-child(101){
  background: #32CD32;
}
.pixel:nth-child(191){
  background: #32CD32;
}
.pixel:nth-child(311){
  background: #32CD32;
}
.pixel:nth-child(341){
  background: #32CD32;
}
.pixel:nth-child(371){
  background: #008000;
}
.pixel:nth-child(821){
  background: #008000;
}
.pixel:nth-child(851){
  background: #008000;
}
.pixel:nth-child(72){
  background: #32CD32;
}
.pixel:nth-child(282){
  background: #32CD32;
}
.pixel:nth-child(312){
  background: #32CD32;
}
.pixel:nth-child(342){
  background: #32CD32;
}
.pixel:nth-child(372){
  background: #32CD32;
}
.pixel:nth-child(402){
  background: #008000;
}
.pixel:nth-child(822){
  background: #008000;
}
.pixel:nth-child(852){
  background: #008000;
}
.pixel:nth-child(43){
  background: #32CD32;
}
.pixel:nth-child(103){
  background: #32CD32;
}
.pixel:nth-child(283){
  background: #32CD32;
}
.pixel:nth-child(313){
  background: #32CD32;
}
.pixel:nth-child(343){
  background: #32CD32;
}
.pixel:nth-child(373){
  background: #32CD32;
}
.pixel:nth-child(403){
  background: #32CD32;
}
.pixel:nth-child(433){
  background: #008000;
}
.pixel:nth-child(763){
  background: #008000;
}
.pixel:nth-child(793){
  background: #008000;
}
.pixel:nth-child(823){
  background: #008000;
}
.pixel:nth-child(853){
  background: #008000;
}
.pixel:nth-child(44){
  background: #32CD32;
}
.pixel:nth-child(104){
  background: #32CD32;
}
.pixel:nth-child(134){
  background: #32CD32;
}
.pixel:nth-child(164){
  background: #32CD32;
}
.pixel:nth-child(224){
  background: #32CD32;
}
.pixel:nth-child(284){
  background: #32CD32;
}
.pixel:nth-child(314){
  background: #32CD32;
}
.pixel:nth-child(404){
  background: #32CD32;
}
.pixel:nth-child(434){
  background: #008000;
}
.pixel:nth-child(464){
  background: #008000;
}
.pixel:nth-child(524){
  background: #008000;
}
.pixel:nth-child(554){
  background: #008000;
}
.pixel:nth-child(584){
  background: #008000;
}
.pixel:nth-child(614){
  background: #008000;
}
.pixel:nth-child(644){
  background: #008000;
}
.pixel:nth-child(674){
  background: #008000;
}
.pixel:nth-child(704){
  background: #008000;
}
.pixel:nth-child(734){
  background: #008000;
}
.pixel:nth-child(764){
  background: #008000;
}
.pixel:nth-child(794){
  background: #008000;
}
.pixel:nth-child(824){
  background: #008000;
}
.pixel:nth-child(854){
  background: #008000;
}
.pixel:nth-child(45){
  background: #32CD32;
}
.pixel:nth-child(105){
  background: #32CD32;
}
.pixel:nth-child(135){
  background: #32CD32;
}
.pixel:nth-child(165){
  background: #32CD32;
}
.pixel:nth-child(195){
  background: #32CD32;
}
.pixel:nth-child(225){
  background: #32CD32;
}
.pixel:nth-child(255){
  background: #32CD32;
}
.pixel:nth-child(315){
  background: #32CD32;
}
.pixel:nth-child(345){
  background: #32CD32;
}
.pixel:nth-child(405){
  background: #32CD32;
}
.pixel:nth-child(435){
  background: #008000;
}
.pixel:nth-child(465){
  background: #32CD32;
}
.pixel:nth-child(495){
  background: #008000;
}
.pixel:nth-child(795){
  background: #008000;
}
.pixel:nth-child(825){
  background: #008000;
}
.pixel:nth-child(855){
  background: #008000;
}
.pixel:nth-child(46){
  background: #32CD32;
}
.pixel:nth-child(106){
  background: #32CD32;
}
.pixel:nth-child(166){
  background: #32CD32;
}
.pixel:nth-child(196){
  background: #32CD32;
}
.pixel:nth-child(226){
  background: #32CD32;
}
.pixel:nth-child(256){
  background: #32CD32;
}
.pixel:nth-child(316){
  background: #32CD32;
}
.pixel:nth-child(406){
  background: #32CD32;
}
.pixel:nth-child(436){
  background: #008000;
}
.pixel:nth-child(466){
  background: #32CD32;
}
.pixel:nth-child(526){
  background: #008000;
}
.pixel:nth-child(556){
  background: #008000;
}
.pixel:nth-child(586){
  background: #008000;
}
.pixel:nth-child(616){
  background: #008000;
}
.pixel:nth-child(646){
  background: #008000;
}
.pixel:nth-child(676){
  background: #008000;
}
.pixel:nth-child(706){
  background: #008000;
}
.pixel:nth-child(736){
  background: #008000;
}
.pixel:nth-child(766){
  background: #008000;
}
.pixel:nth-child(796){
  background: #008000;
}
.pixel:nth-child(826){
  background: #008000;
}
.pixel:nth-child(47){
  background: #32CD32;
}
.pixel:nth-child(137){
  background: #32CD32;
}
.pixel:nth-child(167){
  background: #32CD32;
}
.pixel:nth-child(197){
  background: #32CD32;
}
.pixel:nth-child(227){
  background: #32CD32;
}
.pixel:nth-child(257){
  background: #32CD32;
}
.pixel:nth-child(317){
  background: #32CD32;
}
.pixel:nth-child(347){
  background: #32CD32;
}
.pixel:nth-child(407){
  background: #32CD32;
}
.pixel:nth-child(437){
  background: #008000;
}
.pixel:nth-child(467){
  background: #32CD32;
}
.pixel:nth-child(497){
  background: #008000;
}
.pixel:nth-child(527){
  background: #008000;
}
.pixel:nth-child(857){
  background: #008000;
}
.pixel:nth-child(48){
  background: #32CD32;
}
.pixel:nth-child(78){
  background: #32CD32;
}
.pixel:nth-child(108){
  background: #32CD32;
}
.pixel:nth-child(168){
  background: #32CD32;
}
.pixel:nth-child(228){
  background: #32CD32;
}
.pixel:nth-child(288){
  background: #32CD32;
}
.pixel:nth-child(318){
  background: #32CD32;
}
.pixel:nth-child(408){
  background: #32CD32;
}
.pixel:nth-child(438){
  background: #008000;
}
.pixel:nth-child(468){
  background: #008000;
}
.pixel:nth-child(498){
  background: #008000;
}
.pixel:nth-child(528){
  background: #008000;
}
.pixel:nth-child(558){
  background: #008000;
}
.pixel:nth-child(588){
  background: #008000;
}
.pixel:nth-child(618){
  background: #008000;
}
.pixel:nth-child(648){
  background: #008000;
}
.pixel:nth-child(678){
  background: #008000;
}
.pixel:nth-child(708){
  background: #008000;
}
.pixel:nth-child(738){
  background: #008000;
}
.pixel:nth-child(768){
  background: #008000;
}
.pixel:nth-child(798){
  background: #008000;
}
.pixel:nth-child(828){
  background: #008000;
}
.pixel:nth-child(858){
  background: #008000;
}
.pixel:nth-child(49){
  background: #008000;
}
.pixel:nth-child(79){
  background: #32CD32;
}
.pixel:nth-child(139){
  background: #32CD32;
}
.pixel:nth-child(169){
  background: #32CD32;
}
.pixel:nth-child(289){
  background: #32CD32;
}
.pixel:nth-child(319){
  background: #32CD32;
}
.pixel:nth-child(349){
  background: #32CD32;
}
.pixel:nth-child(379){
  background: #32CD32;
}
.pixel:nth-child(409){
  background: #32CD32;
}
.pixel:nth-child(439){
  background: #008000;
}
.pixel:nth-child(469){
  background: #008000;
}
.pixel:nth-child(499){
  background: #008000;
}
.pixel:nth-child(769){
  background: #008000;
}
.pixel:nth-child(799){
  background: #008000;
}
.pixel:nth-child(829){
  background: #008000;
}
.pixel:nth-child(859){
  background: #008000;
}
.pixel:nth-child(80){
  background: #008000;
}
.pixel:nth-child(110){
  background: #32CD32;
}
.pixel:nth-child(140){
  background: #32CD32;
}
.pixel:nth-child(170){
  background: #32CD32;
}
.pixel:nth-child(290){
  background: #32CD32;
}
.pixel:nth-child(320){
  background: #32CD32;
}
.pixel:nth-child(350){
  background: #32CD32;
}
.pixel:nth-child(380){
  background: #32CD32;
}
.pixel:nth-child(410){
  background: #008000;
}
.pixel:nth-child(860){
  background: #008000;
}
.pixel:nth-child(111){
  background: #008000;
}
.pixel:nth-child(141){
  background: #32CD32;
}
.pixel:nth-child(171){
  background: #32CD32;
}
.pixel:nth-child(201){
  background: #32CD32;
}
.pixel:nth-child(291){
  background: #32CD32;
}
.pixel:nth-child(321){
  background: #32CD32;
}
.pixel:nth-child(351){
  background: #32CD32;
}
.pixel:nth-child(381){
  background: #008000;
}
.pixel:nth-child(861){
  background: #008000;
}
.pixel:nth-child(142){
  background: #008000;
}
.pixel:nth-child(172){
  background: #32CD32;
}
.pixel:nth-child(202){
  background: #32CD32;
}
.pixel:nth-child(232){
  background: #32CD32;
}
.pixel:nth-child(262){
  background: #32CD32;
}
.pixel:nth-child(292){
  background: #32CD32;
}
.pixel:nth-child(322){
  background: #32CD32;
}
.pixel:nth-child(352){
  background: #008000;
}
.pixel:nth-child(382){
  background: #008000;
}
.pixel:nth-child(862){
  background: #008000;
}
.pixel:nth-child(173){
  background: #008000;
}
.pixel:nth-child(203){
  background: #32CD32;
}
.pixel:nth-child(263){
  background: #32CD32;
}
.pixel:nth-child(293){
  background: #32CD32;
}
.pixel:nth-child(323){
  background: #008000;
}
.pixel:nth-child(383){
  background: #008000;
}
.pixel:nth-child(833){
  background: #008000;
}
.pixel:nth-child(863){
  background: #008000;
}
.pixel:nth-child(174){
  background: #32CD32;
}
.pixel:nth-child(264){
  background: #32CD32;
}
.pixel:nth-child(294){
  background: #008000;
}
.pixel:nth-child(414){
  background: #008000;
}
.pixel:nth-child(624){
  background: #008000;
}
.pixel:nth-child(654){
  background: #008000;
}
.pixel:nth-child(684){
  background: #008000;
}
.pixel:nth-child(714){
  background: #008000;
}
.pixel:nth-child(744){
  background: #008000;
}
.pixel:nth-child(774){
  background: #008000;
}
.pixel:nth-child(804){
  background: #008000;
}
.pixel:nth-child(175){
  background: #32CD32;
}
.pixel:nth-child(265){
  background: #32CD32;
}
.pixel:nth-child(295){
  background: #008000;
}
.pixel:nth-child(445){
  background: #008000;
}
.pixel:nth-child(655){
  background: #008000;
}
.pixel:nth-child(176){
  background: #32CD32;
}
.pixel:nth-child(236){
  background: #32CD32;
}
.pixel:nth-child(266){
  background: #32CD32;
}
.pixel:nth-child(476){
  background: #008000;
}
.pixel:nth-child(626){
  background: #008000;
}
.pixel:nth-child(656){
  background: #008000;
}
.pixel:nth-child(686){
  background: #008000;
}
.pixel:nth-child(147){
  background: #32CD32;
}
.pixel:nth-child(237){
  background: #008000;
}
.pixel:nth-child(507){
  background: #008000;
}
.pixel:nth-child(687){
  background: #008000;
}
.pixel:nth-child(717){
  background: #008000;
}
.pixel:nth-child(747){
  background: #008000;
}
.pixel:nth-child(777){
  background: #008000;
}
.pixel:nth-child(807){
  background: #008000;
}
.pixel:nth-child(837){
  background: #008000;
}
.pixel:nth-child(867){
  background: #008000;
}
.pixel:nth-child(118){
  background: #32CD32;
}
.pixel:nth-child(178){
  background: #32CD32;
}
.pixel:nth-child(208){
  background: #008000;
}
.pixel:nth-child(538){
  background: #008000;
}
.pixel:nth-child(598){
  background: #008000;
}
.pixel:nth-child(688){
  background: #008000;
}
.pixel:nth-child(119){
  background: #008000;
}
.pixel:nth-child(149){
  background: #008000;
}
.pixel:nth-child(179){
  background: #008000;
}
.pixel:nth-child(599){
  background: #008000;
}
.pixel:nth-child(629){
  background: #008000;
}
.pixel:nth-child(659){
  background: #008000;
}
.pixel:nth-child(125){
  background: #A3FF88;
}
.pixel:nth-child(155){
  background: #8B4513;
}
.pixel:nth-child(156){
  background: #A3FF88;
}
.pixel:nth-child(186){
  background: #8B4513;
}
.pixel:nth-child(666){
  background: #A3FF88;
}
.pixel:nth-child(217){
  background: #8B4513;
}
.pixel:nth-child(667){
  background: #32CD32;
}
.pixel:nth-child(188){
  background: #A3FF88;
}
.pixel:nth-child(218){
  background: #8B4513;
}
.pixel:nth-child(219){
  background: #8B4513;
}
.pixel:nth-child(220){
  background: #A3FF88;
}
.pixel:nth-child(131){
  background: #A3FF88;
}
.pixel:nth-child(281){
  background: #A3FF88;
}
.pixel:nth-child(102){
  background: #A3FF88;
}
.pixel:nth-child(132){
  background: #A3FF88;
}
.pixel:nth-child(162){
  background: #A3FF88;
}
.pixel:nth-child(73){
  background: #A3FF88;
}
.pixel:nth-child(133){
  background: #A3FF88;
}
.pixel:nth-child(163){
  background: #A3FF88;
}
.pixel:nth-child(223){
  background: #A3FF88;
}
.pixel:nth-child(344){
  background: #A3FF88;
}
.pixel:nth-child(75){
  background: #A3FF88;
}
.pixel:nth-child(76){
  background: #A3FF88;
}
.pixel:nth-child(136){
  background: #A3FF88;
}
.pixel:nth-child(346){
  background: #A3FF88;
}
.pixel:nth-child(77){
  background: #A3FF88;
}
.pixel:nth-child(107){
  background: #A3FF88;
}
.pixel:nth-child(138){
  background: #A3FF88;
}
.pixel:nth-child(348){
  background: #A3FF88;
}
.pixel:nth-child(109){
  background: #A3FF88;
}
.pixel:nth-child(229){
  background: #A3FF88;
}
.pixel:nth-child(233){
  background: #8B4513;
}
.pixel:nth-child(204){
  background: #A3FF88;
}
.pixel:nth-child(234){
  background: #8B4513;
}
.pixel:nth-child(205){
  background: #A3FF88;
}
.pixel:nth-child(235){
  background: #8B4513;
}
.pixel:nth-child(206){
  background: #8B4513;
}
.pixel:nth-child(177){
  background: #A3FF88;
}
.pixel:nth-child(207){
  background: #8B4513;
}
.pixel:nth-child(627){
  background: #A3FF88;
}
.pixel:nth-child(657){
  background: #32CD32;
}
.pixel:nth-child(148){
  background: #A3FF88;
}
.pixel:nth-child(628){
  background: #A3FF88;
}
.pixel:nth-child(658){
  background: #32CD32;
}
.pixel:nth-child(636){
  background: #8B4513;
}
.pixel:nth-child(517){
  background: #CD853F;
}
.pixel:nth-child(547){
  background: #CD853F;
}
.pixel:nth-child(577){
  background: #CD853F;
}
.pixel:nth-child(607){
  background: #CD853F;
}
.pixel:nth-child(637){
  background: #8B4513;
}
.pixel:nth-child(488){
  background: #CD853F;
}
.pixel:nth-child(518){
  background: #8B4513;
}
.pixel:nth-child(548){
  background: #8B4513;
}
.pixel:nth-child(578){
  background: #8B4513;
}
.pixel:nth-child(608){
  background: #8B4513;
}
.pixel:nth-child(638){
  background: #8B4513;
}
.pixel:nth-child(399){
  background: #8B4513;
}
.pixel:nth-child(489){
  background: #CD853F;
}
.pixel:nth-child(519){
  background: #8B4513;
}
.pixel:nth-child(549){
  background: #8B4513;
}
.pixel:nth-child(579){
  background: #8B4513;
}
.pixel:nth-child(609){
  background: #8B4513;
}
.pixel:nth-child(639){
  background: #8B4513;
}
.pixel:nth-child(669){
  background: #8B4513;
}
.pixel:nth-child(699){
  background: #8B4513;
}
.pixel:nth-child(729){
  background: #8B4513;
}
.pixel:nth-child(759){
  background: #8B4513;
}
.pixel:nth-child(789){
  background: #8B4513;
}
.pixel:nth-child(819){
  background: #8B4513;
}
.pixel:nth-child(400){
  background: #8B4513;
}
.pixel:nth-child(430){
  background: #CD853F;
}
.pixel:nth-child(460){
  background: #CD853F;
}
.pixel:nth-child(490){
  background: #CD853F;
}
.pixel:nth-child(520){
  background: #CD853F;
}
.pixel:nth-child(550){
  background: #CD853F;
}
.pixel:nth-child(580){
  background: #CD853F;
}
.pixel:nth-child(610){
  background: #CD853F;
}
.pixel:nth-child(640){
  background: #CD853F;
}
.pixel:nth-child(670){
  background: #CD853F;
}
.pixel:nth-child(700){
  background: #CD853F;
}
.pixel:nth-child(730){
  background: #CD853F;
}
.pixel:nth-child(760){
  background: #CD853F;
}
.pixel:nth-child(790){
  background: #8B4513;
}
.pixel:nth-child(820){
  background: #8B4513;
}
.pixel:nth-child(401){
  background: #CD853F;
}
.pixel:nth-child(431){
  background: #CD853F;
}
.pixel:nth-child(461){
  background: #CD853F;
}
.pixel:nth-child(791){
  background: #8B4513;
}
.pixel:nth-child(432){
  background: #8B4513;
}
.pixel:nth-child(462){
  background: #CD853F;
}
.pixel:nth-child(492){
  background: #CD853F;
}
.pixel:nth-child(522){
  background: #CD853F;
}
.pixel:nth-child(552){
  background: #CD853F;
}
.pixel:nth-child(582){
  background: #CD853F;
}
.pixel:nth-child(612){
  background: #CD853F;
}
.pixel:nth-child(642){
  background: #CD853F;
}
.pixel:nth-child(672){
  background: #CD853F;
}
.pixel:nth-child(702){
  background: #CD853F;
}
.pixel:nth-child(732){
  background: #CD853F;
}
.pixel:nth-child(762){
  background: #CD853F;
}
.pixel:nth-child(792){
  background: #8B4513;
}
.pixel:nth-child(463){
  background: #8B4513;
}
.pixel:nth-child(493){
  background: #8B4513;
}
.pixel:nth-child(523){
  background: #CD853F;
}
.pixel:nth-child(553){
  background: #8B4513;
}
.pixel:nth-child(583){
  background: #8B4513;
}
.pixel:nth-child(613){
  background: #8B4513;
}
.pixel:nth-child(643){
  background: #8B4513;
}
.pixel:nth-child(673){
  background: #8B4513;
}
.pixel:nth-child(703){
  background: #8B4513;
}
.pixel:nth-child(733){
  background: #8B4513;
}
.pixel:nth-child(494){
  background: #8B4513;
}
.pixel:nth-child(525){
  background: #8B4513;
}
.pixel:nth-child(555){
  background: #8B4513;
}
.pixel:nth-child(585){
  background: #8B4513;
}
.pixel:nth-child(615){
  background: #8B4513;
}
.pixel:nth-child(645){
  background: #8B4513;
}
.pixel:nth-child(675){
  background: #8B4513;
}
.pixel:nth-child(705){
  background: #8B4513;
}
.pixel:nth-child(735){
  background: #8B4513;
}
.pixel:nth-child(765){
  background: #8B4513;
}
.pixel:nth-child(496){
  background: #8B4513;
}
.pixel:nth-child(557){
  background: #8B4513;
}
.pixel:nth-child(587){
  background: #8B4513;
}
.pixel:nth-child(617){
  background: #8B4513;
}
.pixel:nth-child(647){
  background: #8B4513;
}
.pixel:nth-child(677){
  background: #8B4513;
}
.pixel:nth-child(707){
  background: #8B4513;
}
.pixel:nth-child(737){
  background: #8B4513;
}
.pixel:nth-child(767){
  background: #8B4513;
}
.pixel:nth-child(797){
  background: #8B4513;
}
.pixel:nth-child(827){
  background: #8B4513;
}
.pixel:nth-child(440){
  background: #CD853F;
}
.pixel:nth-child(470){
  background: #CD853F;
}
.pixel:nth-child(500){
  background: #8B4513;
}
.pixel:nth-child(530){
  background: #8B4513;
}
.pixel:nth-child(560){
  background: #8B4513;
}
.pixel:nth-child(590){
  background: #8B4513;
}
.pixel:nth-child(620){
  background: #8B4513;
}
.pixel:nth-child(650){
  background: #CD853F;
}
.pixel:nth-child(680){
  background: #CD853F;
}
.pixel:nth-child(710){
  background: #CD853F;
}
.pixel:nth-child(740){
  background: #8B4513;
}
.pixel:nth-child(770){
  background: #8B4513;
}
.pixel:nth-child(800){
  background: #8B4513;
}
.pixel:nth-child(830){
  background: #CD853F;
}
.pixel:nth-child(411){
  background: #8B4513;
}
.pixel:nth-child(441){
  background: #8B4513;
}
.pixel:nth-child(801){
  background: #8B4513;
}
.pixel:nth-child(831){
  background: #8B4513;
}
.pixel:nth-child(412){
  background: #8B4513;
}
.pixel:nth-child(442){
  background: #CD853F;
}
.pixel:nth-child(502){
  background: #8B4513;
}
.pixel:nth-child(532){
  background: #CD853F;
}
.pixel:nth-child(562){
  background: #CD853F;
}
.pixel:nth-child(592){
  background: #CD853F;
}
.pixel:nth-child(622){
  background: #CD853F;
}
.pixel:nth-child(652){
  background: #CD853F;
}
.pixel:nth-child(682){
  background: #CD853F;
}
.pixel:nth-child(712){
  background: #CD853F;
}
.pixel:nth-child(742){
  background: #CD853F;
}
.pixel:nth-child(772){
  background: #CD853F;
}
.pixel:nth-child(802){
  background: #8B4513;
}
.pixel:nth-child(832){
  background: #8B4513;
}
.pixel:nth-child(413){
  background: #8B4513;
}
.pixel:nth-child(443){
  background: #CD853F;
}
.pixel:nth-child(473){
  background: #CD853F;
}
.pixel:nth-child(503){
  background: #CD853F;
}
.pixel:nth-child(533){
  background: #8B4513;
}
.pixel:nth-child(563){
  background: #8B4513;
}
.pixel:nth-child(593){
  background: #8B4513;
}
.pixel:nth-child(623){
  background: #8B4513;
}
.pixel:nth-child(653){
  background: #8B4513;
}
.pixel:nth-child(683){
  background: #8B4513;
}
.pixel:nth-child(713){
  background: #8B4513;
}
.pixel:nth-child(743){
  background: #8B4513;
}
.pixel:nth-child(773){
  background: #8B4513;
}
.pixel:nth-child(803){
  background: #8B4513;
}
.pixel:nth-child(444){
  background: #8B4513;
}
.pixel:nth-child(474){
  background: #CD853F;
}
.pixel:nth-child(594){
  background: #8B4513;
}
.pixel:nth-child(475){
  background: #8B4513;
}
.pixel:nth-child(505){
  background: #CD853F;
}
.pixel:nth-child(565){
  background: #CD853F;
}
.pixel:nth-child(595){
  background: #8B4513;
}
.pixel:nth-child(625){
  background: #8B4513;
}
.pixel:nth-child(685){
  background: #8B4513;
}
.pixel:nth-child(506){
  background: #8B4513;
}
.pixel:nth-child(536){
  background: #CD853F;
}
.pixel:nth-child(596){
  background: #CD853F;
}
.pixel:nth-child(716){
  background: #8B4513;
}
.pixel:nth-child(746){
  background: #8B4513;
}
.pixel:nth-child(776){
  background: #8B4513;
}
.pixel:nth-child(806){
  background: #8B4513;
}
.pixel:nth-child(836){
  background: #8B4513;
}
.pixel:nth-child(866){
  background: #8B4513;
}
.pixel:nth-child(537){
  background: #8B4513;
}
.pixel:nth-child(567){
  background: #CD853F;
}
.pixel:nth-child(597){
  background: #CD853F;
}
.pixel:nth-child(568){
  background: #8B4513;
}
.pixel:nth-child(516){
  background: #FEFCFC;
}
.pixel:nth-child(487){
  background: #FEFCFC;
}
.pixel:nth-child(458){
  background: #FEFCFC;
}
.pixel:nth-child(429){
  background: #FEFCFC;
}
.pixel:nth-child(459){
  background: #FEFCFC;
}
.pixel:nth-child(221){
  background: #2C2B2C;
}
.pixel:nth-child(251){
  background: #2C2B2C;
}
.pixel:nth-child(192){
  background: #2C2B2C;
}
.pixel:nth-child(252){
  background: #FEFCFC;
}
.pixel:nth-child(193){
  background: #2C2B2C;
}
.pixel:nth-child(253){
  background: #2C2B2C;
}
.pixel:nth-child(194){
  background: #2C2B2C;
}
.pixel:nth-child(254){
  background: #FEFCFC;
}
.pixel:nth-child(374){
  background: #2C2B2C;
}
.pixel:nth-child(285){
  background: #2C2B2C;
}
.pixel:nth-child(375){
  background: #2C2B2C;
}
.pixel:nth-child(286){
  background: #2C2B2C;
}
.pixel:nth-child(376){
  background: #2C2B2C;
}
.pixel:nth-child(287){
  background: #2C2B2C;
}
.pixel:nth-child(377){
  background: #2C2B2C;
}
.pixel:nth-child(198){
  background: #2C2B2C;
}
.pixel:nth-child(258){
  background: #FEFCFC;
}
.pixel:nth-child(378){
  background: #2C2B2C;
}
.pixel:nth-child(199){
  background: #2C2B2C;
}
.pixel:nth-child(259){
  background: #2C2B2C;
}
.pixel:nth-child(200){
  background: #2C2B2C;
}
.pixel:nth-child(260){
  background: #FEFCFC;
}
.pixel:nth-child(231){
  background: #2C2B2C;
}
.pixel:nth-child(261){
  background: #2C2B2C;
}
.pixel:nth-child(471){
  background: #FEFCFC;
}
.pixel:nth-child(472){
  background: #FEFCFC;
}
.pixel:nth-child(546){
  background: #F0E68C;
}
.pixel:nth-child(576){
  background: #F0E68C;
}
.pixel:nth-child(606){
  background: #F0E68C;
}
.pixel:nth-child(491){
  background: #F0E68C;
}
.pixel:nth-child(521){
  background: #F0E68C;
}
.pixel:nth-child(551){
  background: #F0E68C;
}
.pixel:nth-child(581){
  background: #F0E68C;
}
.pixel:nth-child(611){
  background: #F0E68C;
}
.pixel:nth-child(641){
  background: #F0E68C;
}
.pixel:nth-child(671){
  background: #F0E68C;
}
.pixel:nth-child(701){
  background: #F0E68C;
}
.pixel:nth-child(731){
  background: #F0E68C;
}
.pixel:nth-child(761){
  background: #F0E68C;
}
.pixel:nth-child(529){
  background: #F0E68C;
}
.pixel:nth-child(559){
  background: #F0E68C;
}
.pixel:nth-child(589){
  background: #F0E68C;
}
.pixel:nth-child(619){
  background: #F0E68C;
}
.pixel:nth-child(649){
  background: #F0E68C;
}
.pixel:nth-child(679){
  background: #F0E68C;
}
.pixel:nth-child(709){
  background: #F0E68C;
}
.pixel:nth-child(739){
  background: #F0E68C;
}
.pixel:nth-child(501){
  background: #F0E68C;
}
.pixel:nth-child(531){
  background: #F0E68C;
}
.pixel:nth-child(561){
  background: #F0E68C;
}
.pixel:nth-child(591){
  background: #F0E68C;
}
.pixel:nth-child(621){
  background: #F0E68C;
}
.pixel:nth-child(651){
  background: #F0E68C;
}
.pixel:nth-child(681){
  background: #F0E68C;
}
.pixel:nth-child(711){
  background: #F0E68C;
}
.pixel:nth-child(741){
  background: #F0E68C;
}
.pixel:nth-child(771){
  background: #F0E68C;
}
.pixel:nth-child(504){
  background: #F0E68C;
}
.pixel:nth-child(534){
  background: #F0E68C;
}
.pixel:nth-child(564){
  background: #F0E68C;
}
.pixel:nth-child(535){
  background: #F0E68C;
}
.pixel:nth-child(566){
  background: #F0E68C;
}
